<h2>Verify your email address</h2>
<p>Hello <span class="highlight">{{name}}</span>,</p>
<p>Thank you for signing up for Shopster! To get started and secure your account, please verify your email address by clicking the button below.</p>
<div style="text-align: center;">
    <a href="{{url}}" class="button">Verify Email Address</a>
</div>
<p>This link will expire in 24 hours. If you did not create an account, please ignore this email.</p>
<p>Best regards,<br>The Shopster Team</p>
